body {
    margin: 50px 240px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14;
    padding: 0px 50px;
}


h2 {
    color: rgb(198, 24, 24);
    text-align: center;
    padding-bottom: 20px;
}

div.cards {
    float: left;
    width: 290px;
    margin: 10px;
}

div.cards img {
    width: 100%;
    height: auto;
}

div.title {
  font-weight: bold;
  color:aqua;
  padding-left: 15px;
  padding-top: 15px;
}

div.description {
    text-align: justify;
    padding: 15px 20px;
    color: gray;
}